body {
  padding: 30px;
}

.dino {
  background-image: url(./utils/dino.png);
  bottom: 10px;
  color: lime;
  height: 60px;
  position: absolute;
  transition: all 0.5s ease;
  width: 60px;
};

.dinoUp {
  background-image: url(./utils/dino.png);
  bottom: 100px;
  height: 60px;
  position: absolute;
  transition: all 0.5s ease;
  width: 60px;
}

.cactus {
  background-image: url(./utils/cactus.png);
  height: 60px;
  position: absolute;
  width: 60px;
}

.end-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
}